<a href="https://www.facebook.com/v3.0/dialog/oauth?client_id=486234211822035
&redirect_uri=https://symtest.by/fb_registration
&state=171175ec940e9df882f565a274496e2c
&response_type=code
&scope=public_profile,email">go</a>