{% extends "base.html.twig" %}

{% block body %}

    <div class="container">

        <h3>{{ 'A confirmation email was sent to your email address'|trans }}</h3>

        <br>

        <a href="{{ path('index_page') }}">{{ 'Main page'|trans }}</a>

    </div>

{% endblock %}

