<div id="passwordModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div id="remind-popup">

                {{ form_start(recoverPasswordForm, {'attr': {'class': 'formFields', 'id': 'passwdForm', 'accept-charset': 'utf-8'}}) }}
                {{ form_widget(recoverPasswordForm.email) }}
                <div class="clearfix">
                    {{ form_widget(recoverPasswordForm.submit) }}
                </div>
                {{ form_end(recoverPasswordForm) }}
                <button title="Close (Esc)" type="button" class="mfp-close" data-dismiss="modal">×</button>
            </div>

        </div>

    </div>

</div>