<p>
    Поддерживаемые роуты privateApi: <b>/update_token</b>
</p>

<p>
    Если у Вас работает только этот корневой <b>роут</b>, Вам необходимо посетить страницу <b>https://symfony.com/doc/current/setup/web_server_configuration.html</b>
    <br> и настроить <b>nginx</b> в соответствии с описанием
</p>